@font-face {
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/Heebo-Thin.ttf);
}

@font-face {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    src: url(../fonts/Roboto-Italic.ttf);
}