// colors
$primary-bg: #f5f5f5;
$primary-color: #4d4d4d;
$secondary-color: #777777;
$light-color: #d1d1d1;
$green-color: #7cc2b2;
$red-color: #e9d9d8;
$darkenColor: darken(#fff, 2.5%);

// fonts
$font: 'Roboto', sans-serif;
$font-h1: 'Raleway', sans-serif;
$base-font-size: 20;

// mixins
@mixin font($size, $weight, $line: 1) {
    font-size: $size + px;
    font-size: calc($size / $base-font-size) + rem; 
    font-weight: $weight;
    line-height: $line;
    font-style: normal;
};

@mixin flex($justify, $align, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
};